@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    outline: none;
    color: #000;
}